<h4>Customers <button class="create"></button></h4>
<ul>
  <% customers.each(function(m) { %>
  <li id="customer-<%= m.get('id') %>">
  <strong class="name" title="click for details"><%= m.get('name') %></strong>
    (<%= m.get('number') %>)
    <button type="button" class="details" title="click for details"></button> <button type="button" class="invoices"></button> <button type="button" class="edit"></button> <button type="button" class="delete"></button>
     <ul class="details-list">
       <li>street: <%= m.get('street') %></li>
       <li>post_code: <%= m.get('post_code') %></li>
       <li>city: <%= m.get('city') %></li>
       <li>country: <%= m.get('country') %></li>
       <li>telephone: <%= m.get('telephone') %></li>
       <li>email: <%= m.get('email') %></li>
    </ul>
  </li>
  <% }); %>
</ul>

