<h4><%= isNew ? 'New' : 'Change'%> Customer</h4>
<form>
  <fieldset>
    <input type="hidden" name="id" value="<%= id %>">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= name %>" class="text ui-widget-content ui-corner-all" />
    <label for="number">Number</label>
    <input type="text" name="number" id="number" value="<%= number %>" class="text ui-widget-content ui-corner-all" />
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="<%= email %>" class="text ui-widget-content ui-corner-all" />
    <label for="telephone">telephone</label>
    <input type="text" name="telephone" id="telephone" value="<%= telephone %>" class="text ui-widget-content ui-corner-all" />
    <label for="street">street</label>
    <input type="text" name="street" id="street" value="<%= street %>" class="text ui-widget-content ui-corner-all" />
    <label for="post_code">post_code</label>
    <input type="text" name="post_code" id="post_code" value="<%= post_code %>" class="text ui-widget-content ui-corner-all" />
    <label for="city">city</label>
    <input type="text" name="city" id="" value="<%= city %>" class="text ui-widget-content ui-corner-all" />
    <label for="country">country</label>
    <input type="text" name="country" id="country" value="<%= country %>" class="text ui-widget-content ui-corner-all" />
    <button type="button" class="ok" title="click to create your customer"></button>
    <button type="button" class="cancel" title="click to abandon this dialog"></button>
  </fieldset>
</form>


