<h4>Invoices <button class="create"></button></h4>
<ul>
  <% invoices.each(function(m) { %>
  <li id="invoice-<%= m.get('id') %>" class="<%= m.get('status') %>">
    <strong class="name" title="click for details"><%= m.get('number') %></strong> <button class="edit"></button> <button class="delete"></button>
    <div class="hidden">
      covering_text: <%= m.get('covering_text') %><br/>
      due_on: <%= m.get('due_on') %><br/>
      printed_at: <%= m.get('printed_at') %><br/>
      <div id="service_invoice_items-<%= m.get('id') %>"></div>
    </div>
  </li>
  <% }); %>
</ul>
