<h4>Invoicing Parties <button class="create"></button></h4>
<ul>
  <% invoicing_parties.each(function(m) { %>
  <li id="invoicing_party-<%= m.get('id') %>">
    <strong class="name" ><%= m.get('name') %></strong>
    <button type="button" class="details" title="click for details">
    </button> <button type="button" class="invoices"></button>
    <button type="button" class="edit"></button>
    <button type="button" class="delete"></button>
    <ul class="details-list">
      <li>co_line <%= m.get('co_line') %></li>
      <li>street: <%= m.get('street') %></li>
      <li>post_code: <%= m.get('post_code') %></li>
      <li>city: <%= m.get('city') %></li>
      <li>country: <%= m.get('country') %></li>
      <li>vatid: <%= m.get('vatid') %></li>
      <li>taxnumber: <%= m.get('taxnumber') %></li>
      <li>currency: <%= m.get('currency') %></li>
      <li>bank: <%= m.get('bank') %></li>
      <li>bank_account_number: <%= m.get('bank_account_number') %></li>
      <li>bank_sort_code: <%= m.get('bank_sort_code') %></li>
      <li>telephone: <%= m.get('telephone') %></li>
      <li>email: <%= m.get('email') %></li>
    </ul>
  </li>
  <% }); %>
</ul>

