<h4>Invoices <span class="create"></span></h4>
<ul>
  <% invoices.each(function(m) { %>
  <li id="invoice-<%= m.get('id') %>" class="<%= m.get('status') %>">
    <span class="name" title="click for details"><%= m.get('number') %></span> <span class="edit"></span> <span class="delete"></span>
    <div class="hidden">
      covering_text: <%= m.get('covering_text') %><br/>
      due_on: <%= m.get('due_on') %><br/>
      printed_at: <%= m.get('printed_at') %><br/>
      <div id="service_invoice_items-<%= m.get('id') %>"></div>
    </div>
  </li>
  <% }); %>
</ul>
