<h4>Invoice items <button class="create"></button></h4>
<table>
  <tr>
    <th>started_at</th><th>ended_at</th><th>pauses</th><th>description</th><th>pricing_unit</th><th>pricing_strategy</th><th>vat_rate</th><th>price</th><th>currency</th><th>actions</th>
  </tr>
  <% service_invoice_items.each(function(m) { %>
  <tr id="service_invoice_item-<%= m.get('id') %>">
    <td><%= m.get('started_at') %></td>
    <td><%= m.get('ended_at') %></td>
    <td><%= m.get('pauses') %></td>
    <td><%= m.get('description') %></td>
    <td><%= m.get('pricing_unit') %></td>
    <td><%= m.get('pricing_strategy') %></td>
    <td><%= m.get('vat_rate') %></td>
    <td><%= m.get('price') %></td>
    <td><%= m.get('currency') %></td>
    <td><button class="edit"></button> <button class="delete"></button></td>
  </tr>
  <% }); %>
</table>

