%h3
  You are
  = current_user.login
  [
  = current_user.email
  ]
%button#logout logout
-##customers= render :partial => 'customer_list', :locals => {:customers => current_user.customers}
%table#customers
#invoicing_parties= render :partial => 'invoicing_party_list', :locals => {:invoicing_parties => current_user.invoicing_parties}

