%h3>
  You are
  = current_user.login
  <
  = current_user.email
  >
%button#logout logout
#customers.window
  %button#new-customer.new
  %h4 Customers
#customer-form.window
#invoicing_parties.window
  %button#new-invoicing_parties.new
  %h4 Invoicing Parties
#invoices.window
  %button#new-invoices.new
  %h4 Invoices
