%h3
  You are
  = @user.login
  [
  = @user.email
  ]
#logout= link_to 'logout', user_session_path(@user), :method => :delete
%h4 Your customers:
#customers= render :partial => '/customers/list', :locals => {:customers => @user.customers}

%h4 Your invoicing identities:
#invoicing_parties

%h4 Your invoices:
#invoices

